
body {
  max-width: 700px;
}

.episode-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.episode-list-item {
  border-top: 1px solid #a0a0a0;
  padding: 8px 0;
}

.episode-list-item:first-child {
  border-top: none;
}

.episode {
  display: flex;

  cursor: pointer;
}

.episode:hover {
  background: #f0f0f0;
}

.episode-thumbnail {
  margin-right: 16px;
  width: 180px;
  height: 100px;
  flex: 0 0 auto;
}

.episode-text-content {
  width: calc(100% - 196px);
  flex: 1 0 auto;
}

.episode-text-content h2 {
  margin: 0 0 16px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
