
#content {
  box-sizing: border-box;
  margin: auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1200px;
}

.episode-main-content {
  display: flex;
}

.episode-main-column {
  flex: 1 0 auto;
  align-self: flex-start;
}

.player {
  position: relative;

  margin-bottom: 24px;
}

.player-sizer {
  width: 100%;
  height: 0;
}

.player-video {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.episode-description {
  border: 0;
  width: 100%;
  height: 250px;
}

.episode-next-episodes {
  margin-left: 16px;
  width: 180px;
  flex: 0 0 180px;
}

.next-episode {
  margin: 0 0 16px;
  cursor: pointer;
}

.next-episode:hover {
  background: #f0f0f0;
}

.next-episode h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
